.content-header {
    position: relative !important;
    padding: 10px 15px 0 15px !important;
}

.content {
    min-height: 250px !important;
    padding: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 10px !important;
}

.box.box-primary {
    border-top-color: #3c8dbc;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.panel-body-index {
    padding: 15px;
    padding-top: 35px !important;
}

.pull-right {
    float: right !important;
}

.btn {
    border-radius: 3px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid transparent !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    padding: 6px 12px !important;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.table-bordered {
    border: 1px solid #f4f4f4 !important;
}

.table-bordered {
    border: 1px solid #ddd !important;
}

.table {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 10px !important;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #f4f4f4;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: 1px solid #f4f4f4;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

th {
    text-align: left;
}

.form-group {
    margin-bottom: 15px !important;
}

.box-header {
    color: #444;
    display: block;
    position: relative;
    float: right;
}

.summary {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.panel-body {
    padding-top: 20px;
}

.with-border-box {
    margin-right: 15px !important;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 20px;
}

.pagination>li {
    display: inline;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination-lg>li>a,
.pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm>li>a,
.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav-sidebar .nav-treeview>.nav-item>.nav-link>.nav-icon {
    width: 35px !important;
    text-align: right !important;
    margin-right: 8px !important;
}

.fa-flag:before {
    font-size: 13px !important;
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background-color: #2c3235 !important;
}

.sidebar {
    padding: 0px !important;
}

.sidebar-mini .main-sidebar .nav-link,
.sidebar-mini-md .main-sidebar .nav-link,
.sidebar-mini-xs .main-sidebar .nav-link {
    width: auto !important;
}

.float-left {
    float: left !important;
}

.help-block {
    color: red;
}

.balance {
    color: #876060 !important;
}

.align-right {
    text-align: right !important;
}

.align-center {
    text-align: center !important;
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-end {
    display: flex;
    justify-content: center;
    align-items: end;
}

.view-edit-div {
    width: 135px !important;
}

.grand-tot {
    text-align: right !important;
    border-color: #212529 !important;
    border-bottom-style: solid !important;
    border-bottom-width: medium !important;
    border-top-style: solid !important;
    border-top-width: thin !important;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.carousel {
    position: relative;
    overflow: hidden;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 10px;
}

.carousel {
    position: relative;
    overflow: hidden;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.8s ease-in-out;
    will-change: transform;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.slide img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.slide-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(61, 56, 56, 0.438);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    color: #fff;
    opacity: 0;
    transform: translateY(20px);
    /* transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out; */
}

.slide.active .slide-content {
    opacity: 1;
    transform: translateY(0);
}

.slide-content h3 {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.slide-content p {
    color: #ccc;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.fa-copyright {
    color: #20c997;
}

.border-none {
    border-style: none;
}

.bt-none {
    border-top: none !important;
}

.bb-none {
    border-bottom: none !important;
}

.bl-none {
    border-left: none !important;
}

.br-none {
    border-right: none !important;
}